
*{
    box-sizing: border-box;
}  
body{
    display:flex;
    background-image: url(background.jpg);
    background-color:grey;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height:auto;
}

h1{
    display:flex;
    justify-content: center;
}
h2{
    display:flex;
    justify-content: left;
}
h3{
    display:flex;
    justify-content: left;
}
